*{
    margin: 0;
    padding: 0;
    color: #3A3A3A;
    background: #FFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.body{
    width: 80%;
    margin: auto;
    padding: 20px;
}

h1{
    color: #FF408C;
    font-size: 65px;
    font-weight: 700;
    line-height: 132%;
    letter-spacing: -1.6px;
}

.nyi{
    font-size: 30px;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: -0.72px;
}

h3{
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

span{
    color: #FF408C;
}

ul{
    gap: 16px;
    padding-top: 35px;
}

ul li{
    list-style: none;
}

.list{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 132%;
    letter-spacing: -0.72px;
}

.toool{
    padding-top: 25px;
}

.design{
    font-size: 21px;
}

.copyrights{
    font-size: 9px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.photo{
    position: relative;
}

.vector{
    color: #FF408C;
    width: 158.28px;
    height: 161.847px;
    flex-shrink: 0;
    position: absolute;
    bottom: -80px;
    right: -70px;
    z-index: 1;
}

.ic{
    display: flex;
    flex-wrap: wrap;
}
.tools{
    width: 50px;
    height: 30px;
    object-fit: contain;
}

.me{
    width: 480px;
    height: 700px;
    position: relative;
    z-index: 2;
    object-fit: cover;
    box-shadow: 15px 15px  #FF408C;
}

.box{
    width: 500px;
    height: auto;
    background-color: rgb(240, 33, 102);
}


.footer{
    padding-top: 100px;
    text-align: center;
    width: 1152px;
    height: 101px;
    flex-shrink: 0;
}


.icons{
    text-align: center;
    padding-left: 520px;
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.fa-square-facebook{
    color: rgb(240, 33, 102);
}

.fa-instagram{
    color: rgb(240, 33, 102);
}

.fa-twitter{
    color: rgb(240, 33, 102);
}

.fa-linkedin{
    color: rgb(240, 33, 102);
}