*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.body{
    width: 80%;
    margin: auto;
}

h1{
    color: rgb(240, 33, 102);
    font-size: 70px;
}

span{
    color: rgb(240, 33, 102);
}

ul{
    gap: 16px;
    padding-top: 35px;
}

ul li{
    list-style: none;
    
}

.toool{
    padding-top: 25px;
}

.design{
    font-size: 21px;
}

.copyrights{
    font-size: 10px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.tools{
    width: 280px;
    height: auto;
}

.me{
    width: 380px;
    height: auto;
    box-shadow: 15px 15px rgb(240, 33, 102);
}

.box{
    width: 500px;
    height: auto;
    background-color: rgb(240, 33, 102);
}



.footer{
    padding-top: 55px;
    text-align: center;
}


.icons{
    text-align: center;
    padding-left: 550px;
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.fa-square-facebook{
    color: rgb(240, 33, 102);
}

.fa-instagram{
    color: rgb(240, 33, 102);
}

.fa-twitter{
    color: rgb(240, 33, 102);
}

.fa-linkedin{
    color: rgb(240, 33, 102);
}